<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>매도, 매수 요청 정보</title>
  <link href="css/styles.css" rel="stylesheet"/>
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

  <script>
    // 정렬시 보낼 데이터
    let searchData = null;

    // 프로그램 시작과 동시에 메소드 실행
    (function () {
      search("BTC");
    }());

    function search(orderCoin) {
      let result;
      // ajax를 이용하여 빗썸 API를 조회한다.
      $.ajax({
        type: "get",
        url: "https://api.bithumb.com/public/orderbook/"+ orderCoin +"_KRW",
        success: function (data) {
          // 성공시 데이터 정형화를 위해 Controller로 넘기는 sendController 호출
          console.log("성공");
          console.log(data.data);
          result = data.data;
          // 첫 검색인지 새로운 데이터를 검색한것인지 확인
          // 첫 검색이면 flag 0, 재 검색이면 flag 1
          if (searchData == null) {
            sendController(result, 0);
          } else {
            sendController(result, 1);
          }
          // 정렬을 하기위한 데이터를 저장한다.
          searchData = data.data;

        },
        error: function (data) {
          alert("잘못된 통화 입니다.");
          return;
        }
      });
    }

    // json형태의 데이터를 파라미터로 받는다.
    function sendController(result, frag) {
      let my_tbody = document.getElementById('tableBody');
      // 데이터를 넘기기위해 String형태로 변환
      let lookupData = JSON.stringify(result);

      // ajax를 이용하여 전달
      $.ajax({
        type: "post",
        url: "receiveData",
        data: {"result": lookupData},
        success: function (data) {

          // frag를 확인하여 추가를 할 것인지, 변경을 할것인지 결정한다.
          if (frag == 0) {
            for (let i = 0 ; i < 30 ; ++i) {
              let row = my_tbody.insertRow(my_tbody.rows.length);
              let cell1 = row.insertCell(0);
              let cell2 = row.insertCell(1);
              let cell3 = row.insertCell(2);
              let cell4 = row.insertCell(3);

              for (let j = 0; j < 30; ++j) {
                cell1.innerHTML = data[0][i];
                cell2.innerHTML = data[1][i];
                cell3.innerHTML = data[2][i];
                cell4.innerHTML = data[3][i];
              }
            }
          } else if (frag == 1) {
            for (let i = 0; i < 30; ++i) {
              for (let j = 0; j < 4; ++j) {
                my_tbody.rows[i].cells[j].innerHTML = data[j][i];
              }
            }
          }
        },
        error: function (data) {
          alert("데이터 출력 중 에러가 발생하였습니다.");
          return;
        }
      });
    }

    // 정렬
    function dataSort(target, sequence) { // 파라미터 (정렬 기준, 순서)
      // 데이터를 넣을 위치의 정보를 얻는다.
      let my_tbody = document.getElementById('tableBody');
      // 첫 검색시 받아 저장해 놓은 데이터를 String화 시킨다.
      let sendSearchData = JSON.stringify(searchData);
      $.ajax({
        type: "post",
        url: "searchData", // 파라미터로 데이터, 정렬기준, 순서를 보낸다.
        data: {"sendSearchData": sendSearchData, "target": target, "sequence": sequence},
        success: function (data) {
          // 성공시
          for (let i = 0; i < 30; ++i) {
            for (let j = 0; j < 4; ++j) {
              my_tbody.rows[i].cells[j].innerHTML = data[j][i];
            }
          }
        },
        error: function (data) {
          alert("정렬에 실패하였습니다.");
          return;
        }
      });
    }

    // 원하는 코인 검색
    function coinSearch() {
      let orderCoin = document.getElementById("inputCoin").value;
      search(orderCoin);
    }

  </script>

</head>

<body class="sb-nav-fixed">
<div id="layoutSidenav">
  <main>
    <div class="container-fluid ml-10">
      <h1 class="mt-4">Order_book</h1>
      <div class="card mb-4">
        <div>
          <input type="text" id="inputCoin" placeholder="주문통화를 입력하세요." style="width: 15%">
          <input type="button" value="검색" onclick="coinSearch()" style="width: 5%">
        </div>
        <div class="card-header">
<!--          <i class="fas fa-table mr-1"></i>-->
<!--          Bithumb order_book data-->
          <input type="button" value="매수 금액 DESC" onclick="dataSort('bidsPrice', 'DESC')">
          <input type="button" value="매수 량 DESC" onclick="dataSort('bidsQuantity', 'DESC')">
          <input type="button" value="매도 금액 DESC" onclick="dataSort('asksPrice', 'DESC')">
          <input type="button" value="매도 량 DESC" onclick="dataSort('asksQuantity', 'DESC')">

          <input type="button" value="매수 금액 ASC" onclick="dataSort('bidsPrice', 'ASC')">
          <input type="button" value="매수 량 ASC" onclick="dataSort('bidsQuantity', 'ASC')">
          <input type="button" value="매도 금액 ASC" onclick="dataSort('asksPrice', 'ASC')">
          <input type="button" value="매도 량 ASC" onclick="dataSort('asksQuantity', 'ASC')">
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>매수 금액</th>
                <th>매수 량</th>
                <th>매도 금액</th>
                <th>매도 량</th>
              </tr>
              </thead>
              <tbody id="tableBody">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/datatables-demo.js"></script>
</body>
</html>
